name: CI

on:
  - push
  - pull_request

jobs:
  test:
    name: OS ${{ matrix.os }} Ruby ${{ matrix.ruby }} GR ${{ matrix.gr }}
    strategy:
      fail-fast: false
      matrix:
        gr: ["system"]
        os: ["ubuntu"]
        ruby: ["3.2", "3.3", "3.4"]
        ubuntu_version: ["24.04"]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Setup OBS binary (ubuntu)
        if: ${{ matrix.gr == 'system' && matrix.os == 'ubuntu' }}
        run: |
          echo 'deb http://download.opensuse.org/repositories/science:/gr-framework/xUbuntu_${{ matrix.ubuntu_version }}/ /' |
            sudo tee /etc/apt/sources.list.d/science:gr-framework.list
          curl -fsSL https://download.opensuse.org/repositories/science:gr-framework/xUbuntu_${{ matrix.ubuntu_version }}/Release.key |
            gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/science_gr-framework.gpg > /dev/null
          sudo apt update -yq && sudo apt upgrade -yq
          sudo apt-get install -y gr
      - name: Test
        env:
          QT_QPA_PLATFORM: offscreen
          LD_LIBRARY_PATH: /usr/lib/x86_64-linux-gnu
          PKG_CONFIG_PATH: /usr/gr/lib/pkgconfig/
        run: bundle exec rake test
